/* Expande a mensagem de erro */

.exp {
    /*Manipulations stuff*/
    animation: expand 1s forwards;
    animation-timing-function: ease;
}

/* Gira o < pra direita */
.men {
    /*Manipulations stuff*/
    animation: gira 1s forwards;
    animation-timing-function: ease;
}

/* volta o < */
.men2 {
    /*Manipulations stuff*/
    animation: gira2 1s forwards;
    animation-timing-function: ease;
}


/* keyframes */

/* mensagem de erro */
@keyframes expand {
    from {
        scale: 0;
        font-size: 50%;
        margin-bottom: 0px;
    }

    to {
        scale: 1;
        font-size: 100%;
        margin-bottom: 10px;
    }
}


/* gira o < pra direita */
@keyframes gira {
    0% {
        transform: scale(1, 1);
        padding-top: 0px;
        color: aliceblue;
    }

    60% {
        text-decoration: none;
    }

    100% {
        text-decoration: underline dotted red;
        transform: scale(-1, 1);
        color: brown !important;
    }
}

/* gira o < pra esquerda */
@keyframes gira2 {
    100% {
        text-decoration: underline dotted green;
        transform: scale(1, 1);
        padding-top: 0px;
        color: aliceblue;
    }

    60% {
        text-decoration: none;
    }

    0% {
        text-decoration: underline dotted red;
        transform: scale(-1, 1);
        color: brown !important;
    }
}