button:hover{background-color: rgb(51, 114, 210) ;}

button:active > img{width: 50px; transition: 150ms;}

img{transition: 150ms; width: 50%;}

.butn{
    width: 100%;
    max-width: 200px;
    margin: 0px;
    display: flex;
    align-content: flex-start;
} 

.block{
    background-color: #757575ac;
    width: 4px;
    border-radius: 5px;
    float: right;
}

button{
    color: black;
    background-color: rgb(30, 95, 192);
    border: inset;
    border-radius: 10px;
    border-width: 5px;
    border-color: hsl(205, 53%, 15%);
    padding: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* font-size: xx-large; */
    cursor: pointer;
}