/* @import url(inputs.css);
@layer secondLayer,firstLayer; */

*{color: aliceblue;margin: 10px;min-width: 0;}

body{background-color: black;overflow-x: hidden;}

#lista_meio{width:700px;}

#first_div{max-width: 500px;margin-left: auto;margin-right: auto;}

@layer secondLayer{
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
} 









