#about-me{
    margin-bottom: 2%;
    width: 100%;
    /* background-color: antiquewhite; */
    gap: 2%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#about-me h3{
    border-bottom: black solid;
}

#tex{
    padding-right: 1%;
    width: 100%;
    float: left;
}

#tex p{
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(35, 34, 32, 0.063);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.475);
}

#about-me > img{
    width: 50%;
}

@media screen and (max-width: 1023px) {
    #about-me{
        flex-direction: column;
    }

    #about-me img{
        width: 90%;
    }
}

