:root {
    --fives: 5px;
}

.card>p,
.card h3 {
    padding: var(--fives) 0px var(--fives) 0;
    border-radius: 2px;
}

.card>p {
    width: 100%;
    text-wrap: wrap;
    margin-top: 0px;
    background-color: rgba(35, 34, 32, 0.063);
}

@media screen and (min-width: 1023px){
button:hover img {
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 11%;
    
}

.card>button:hover{
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 10px;
}
}

button>img {
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 10%;
    padding: 3px;
}

.card>img {
    width: 100%;
}

.card>hr {
    border-color: black;
    width: 100%;
    margin: 0;
}

.card {
    /* background-color: rgb(189, 146, 188); */
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* padding: 5px; */
}

.card h3 {
    width: 100%;
    margin: 1% 0 1% 0;
    background-color: rgba(35, 34, 32, 0.063);
}

.card>button {
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 5px;
    background-color: rgb(153, 215, 169);
    border: none;
    box-shadow: 1px 1px 5px green;
    cursor: pointer;
}

#card-storage {
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    column-gap: 2%;
}

@media screen and (max-width:1023px) {
    .card {
        --numer: 20px;
        margin-bottom: var(--numer);
        padding-bottom: var(--numer);
        border-bottom: dotted black;
    }
}

@media screen and (min-width: 701px) and (max-width: 1023px) {
    #card-storage {
        grid-template-columns: repeat(2, 48.8%);
        column-gap: 2.5%;
    }

}

@media screen and (max-width: 700px) {
    #card-storage {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}