.off:hover {
    /*Box model stuff*/
    padding: 4px;
    border-radius: 10px;
    background-color: rgb(92, 226, 103);
}

li {
/*Display stuff*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
/*Box model stuff*/
    width: 300px;
    max-width: 700px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border-style: inset;
    border-width: 1px;
    border-radius: 5px;
    background-color: #a52a2a9c;
/*Typography stuff*/
    font-size: small;
/*Manipulations stuff*/
    transition: ease 0.5s;
/*Miscellaneous*/
    cursor: pointer;
    box-shadow: 0px 0px 5px #7c1f1fad;
}

.off:hover img {
    content: url(/Green\ check.png);
    transform: scaleX(1);
    rotate: 360deg;
}

.on {
    /*Box model stuff*/
    padding: 4px;
    background-color: rgba(85, 255, 99, 0.808);
    box-shadow: 0px 0px 5px #42d8749c;
    cursor:default;
}

.on img{content: url(/Green\ check.png); transform: scaleX(1);}

.txt {
    /*Box model stuff*/
    max-width: 150px;
    padding: 2px;
    white-space: nowrap;
    /*Miscellaneous*/
    overflow-x: auto;
}

::-webkit-scrollbar {
    /*Box model stuff*/
    height: 3px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.479);
}

::-webkit-scrollbar-thumb {
    /*Box model stuff*/
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.541);
}

.date {
/*Box model stuff*/text-align: center;width: 30%;padding: 2px;border-radius: 2px;background-color: rgba(29, 29, 29, 0.418);}

img {
    /*Box model stuff*/
    width: 20px;
    transition: ease 0.5s;
    transform: scaleX(-1);
}