:root{
    --border_color: #ababab;
    --text_color:#ece5e5;
}

* {
/*Box model stuff*/
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    color: var(--text_color);
    border-bottom-color: var(--text_color);
}

body {
/*Box model stuff*/
    padding: 100px;
    background-color: rgb(61, 61, 61);
    box-shadow: 0px 0px 10px inset #090c13a8;
}

.container {
/*Box model stuff*/width: 100%;
/*Typography stuff*/text-align: -webkit-center;}

.red{
    color: brown;
    font-size: small;
    margin-left: 5px;
}

h1{
    border-style: inset;
    border-width: 1px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    border-color: var(--border_color);
    padding: 5px;
    font-weight: 100;
    width: fit-content;
    margin: 0px;
    margin-right: 200px;
    box-shadow: 0px 0px 8px #000000ad;
}