:root {
    --durly_grey: #D9D9D9;
    --early_grey: #C1C1C1;
}

* {
    cursor: default;
    font-family: Inter;
    user-select: none;
}

body {
    background: #1D1919;
    padding: 50px 350px 50px 350px;
}

#main-box {
    background: linear-gradient(0deg, #D1D1D1 -4.5%, rgba(209, 209, 209, 0.00) 100%);
    border-radius: 19px;
    flex-shrink: 0;
    height: 927px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    width: 733px;
}

::-webkit-scrollbar {
    background: none;
    padding: none;
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 53px;
    height: 85px;
}

#inbetween-point {
    color: #E6E6E6;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    top: -5px;
    width: 100%;
}

footer {
    color: var(--early_grey);
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 733px;
}

.ticket-area {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.fade {
    animation-range: cover 800px;
    animation-timeline: view();
    animation: fade-out cubic-bezier(.95, 0, .21, 1);
}

.ticket {
    animation-range: cover 400px;
    animation-timeline: view();
    animation: fade-out cubic-bezier(.95, 0, .21, 1);
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}